body{
 background-position: center center;
 background-repeat: no-repeat;
 background-size: cover;
}
h1 {
  font-family: 'Gugi', cursive;
  font-weight: bolder;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 0px;
  margin-top: 10px;
  padding-bottom: 2px;
  font-size: 48px;
  text-shadow: 2px 2px 5px black;
  
}
.page-footer{
  background-color: rgb(0,0,0,0.8); 
  width: 100%;
}
.overlay{
  background-color: rgb(0,0,0,0.5);
  margin-left: 25%;
  margin-right: 16%;
  opacity: 0.9;
  border-radius: 10px;
}
#get{
  color: whitesmoke;
  text-shadow: 2px 2px 5px black;
  margin-bottom: 10px;
}
h2{
  text-align: center;
  font-weight: bold;
  color:rgb(255, 255, 255);
  font-family: 'Quattrocento', serif;
}
.form{
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.form-group{
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 18px;
  font-family: 'Quattrocento', serif;
}
.form-check-label{
  color: rgb(255, 255, 255);
}
input[type="radio"] {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
@media only screen and (max-width: 600px){
  .overlay{
    margin-left: 1%;
    margin-right: 2%;
  }
}
@media only screen and (max-width: 800px){
  .overlay{
    margin-left: 1%;
    margin-right: 1%;
  } 
  h1{
    font-size: 30px;
  }
  h2{
    font-size:22px;
  }
  #heading img{
    float: left;
    width: 40%;
    height: 60%;;
  }
}
#heading img{
  float: left;
  width: 10%;
  margin-top: -10px;
}
.card{
  background: rgb(145, 168, 192);
}
.card-body{
  color: rgb(0, 0, 0);
}
.card-deck{
  padding-bottom: 20px;
  font-weight: 600;
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 18px;
}
.footer-copyright{
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 18px;
}
.footer-copyright a{
color: rgb(255, 255, 255);;
font-weight: 600;
}
.footer-copyright a:hover{
  color: rgb(254, 254, 254);
  font-weight: 700;
  text-decoration: none;
}
.card-text a:hover{
  color: rgb(0, 0, 0);
  text-decoration: none;
}