nav{
background: transparent;
}
.nav-link,.navbar-brand{
  /* padding: 20px; */
  margin: 16px;
  font-weight: bold;
}
.nav-link:hover{
  color:black;
}
body{
  background-color: aqua;
}
h1, h2, h3 {
  text-align: center;
}
